body {
	margin: 50px 500px;
}

#description {
	vertical-align: text-top;
}

.entry {
	margin-left: 25px;
}

h1 {
	font-size: 40px;
	text-align:center;
}

h2 {
	font-size: 30px;
	color: red;
	text-align: center;
}

p {
	font-size: 30px;
}