body {
	margin: 50px 500px;
}

#startDate {
	margin-left: 25px;
}

#endDate {
	margin-left: 45px;
}

h1 {
	font-size: 40px;
	text-align:center;
}

h2 {
	font-size: 30px;
	color: red;
	text-align: center;
}